<header class="page-header">
 <h1>Admin Dashboard</h1>
</header> 

<main>
  <section>
  <br>
  <h3>Total # of products in the database: <%= @products %></h3>
  <br>
  <h3>Total # of categories in the database: <%= @categories %></h3>
  <br>
  </section>
 </main> 
<footer>
<%= link_to "Products List", admin_products_path, class: 'btn btn-lg btn-primary' %>
</footer>
